@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c34;
  --foreground: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c34;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist) !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 12));
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: calc(100% - 40px) !important;
  }
}
