@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c34;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1c34;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-urbanist) !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slide-track {
  animation-name: scroll;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(calc(-150px * 12));
  }
}
